.deep-red {
    background-color: #6f0808;
}

.light-beige {
    background-color: #eee8c6;
}

.brown {
    background-color: #564828;
}

.deep-red-font {
    color: #6f0808;
}
.light-beige-font {
    color: #eee8c6;
}

.brown-font {
    color: #564828;
}
